### Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python.
2. R. 
3. SQL. 
4. Java. 
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. TensorFlow.
2. NumPy.
3. SciPy.
4. Pandas.
5. Matplotlib.
6. Keras.
7. SciKit-Learn.
8. PyTorch.
9. Scrapy.

|Data Science Tools|
|---|
|Apache Spark|
|TensFlow|
|SAS|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#his will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

_Objectives:_
* List popular languages for Data Science
* List popular Libraries for Data Science
* List popular Tooles for Data Science

## Author
Basheer Alharthi